.c-holder {
    min-width: 540px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav {
    border: solid 1px black;
    padding: 20px;
}

section {
    padding: 20px;
}